.pagnition__wrapper {
  width: 500px;
  height: 600px;
  min-height: auto;
  background: #f2f2f2;
  border-radius: 10px;
}

.content__wrapper {
  transition: 0.7s ease-in-out;
  animation: fadeIn 0.7s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.circle {
  width: 30px;
  height: 30px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  box-shadow: 3px 3px 8px #efefef;
  transition: .3s ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle:hover {
  box-shadow: 3px 3px 8px #c8c8c8c1;
  transition: .3s ease-in-out;
}
