:root {
  --blue: #c6e2f4;
  --purple: #4433ff;
  --yellow: #ffdc5d;
  --dark-gray: #5a6072;
  --light-gray: #eff1f5;
  --red: #e60066;
  --black: #21232c;
}
body {
  font-family: "Nunito", sans-serif;
}

hr {
  border: none;
  height: 5px;
  color: var(--light-gray);
  background-color: var(--light-gray);
  width: 100%;
}

li,
a {
  text-decoration: none;
  list-style: none;
  color: initial;
}

h1 {
  color: var(--black);
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 22px;
}
h4 {
  font-size: 20px;
  margin-top: 0.5em;
}
small {
  font-size: 14px;
  font-weight: bold;
}

.mb-10 {
  margin-bottom: -15px;
  position: relative;
  z-index: 10 !important;
}
.bg__white {
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
}

.border-mix {
  border-radius: 0 0 10px 10px;
}

.p-m-0 {
  padding: 0;
  margin: 0;
}
.p-5 {
  padding: 2em;
}
.table__cell {
  display: table-cell;
  vertical-align: inherit;
}

.no-btn {
  border: none;
  background: transparent;
  cursor: pointer;
}

.tag:hover {
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
}
.container {
  max-width: 1200px;
  margin: auto;
}
.mobile {
  display: none;
}
.wrapper {
  padding: 1em;
}
.flex {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-end {
  align-items: flex-end;
  justify-content: flex-end !important;
}
.h-100 {
  height: 100%;
}
.gap {
  gap: 2em;
}
.middle {
  margin-left: -50px;
}
.explainer-container {
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 2em;
}

.post-container {
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 2em;
}
.w {
  position: relative;
  z-index: 3;
  height: 200px;
  background: linear-gradient(0deg, var(--blue), var(--blue));
  transition: --color-blue 350ms linear 0s, --blue 350ms linear 0s;
}
.a {
  overflow: hidden;
  display: block;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 90px;
  transform: translateY(1px);
  transform: rotate(180deg);
  margin-top: 200px;
  z-index: 3;
}

.wave {
  position: absolute;
  z-index: -100;
  top: 0;
  max-width: 100vw;
  background-size: cover;
  object-fit: cover;
}

.text__purple {
  color: var(--purple);
}

.text__bold {
  font-weight: bold;
}

.text__semibold {
  font-weight: 600;
}

.text__regular {
  font-weight: 400;
}

.text__small-heading {
  font-size: 15px;
  text-transform: uppercase;
  color: var(--dark-gray);
}
.text__red {
  color: var(--red);
}
.text__white {
  color: white;
}
.post-wrapper {
  max-width: 700px;
  margin: 0 auto;
}
.footer {
  height: 300px;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-size: 28px;
  font-family: "Fredoka One", "Nunito", sans-serif;
  color: var(--purple);
}

.card {
  border-radius: 10px;
  box-shadow: 0px 4px 11px rgba(79, 81, 85, 0.2);
  padding: 2em;
  background: var(--light-gray);
  max-width: 460px;
}

.card__explainer {
  max-width: 270px !important;
  width: 270px;
  height: 370px;
  background-image: url("./images/ill.webp");
  background-size: cover;
  padding: 0;
}

.table__column {
  transition: 0.3s ease-in-out;
}
.text__center {
  text-align: center;
}
.table__column:hover {
  border-radius: 10px;
  box-shadow: 0px 4px 11px rgba(79, 81, 85, 0.2);
  background: var(--light-gray);
  width: max-content;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.tag {
  background-color: var(--blue);
  border-radius: 10px;
  padding: 0.5em 1em;
  width: max-content;
  transition: 0.2s ease-in-out;
}

.tag__red {
  background-color: var(--red);
}

.tag__small-padding {
  padding: 0.1em 0.7em;
}

.sitting {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-top: 60px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1em;
}

.path {
  stroke-dasharray: 500;
  animation: dash 1s linear;
}
.table th {
  border: none;
  border-bottom: 5px solid var(--dark-gray);
  text-align: left;
  padding: 0.5em;
}
.table td {
  padding: 1em;
}

.table {
  width: 100%;
  min-width: 500px;
}
.pt-5 {
  padding-top: 5em;
}

.footer-container {
  margin-top: 5em;
  background: var(--blue);
}
@keyframes dash {
  from {
    stroke-dashoffset: 800;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@media screen and (max-width: 1100px) {
  .card {
    max-width: 100%;
  }
  .post-container {
    align-items: center;
    justify-content: center;
  }
  .wave {
    display: none;
  }
  .sitting {
    display: none;
  }
  .container {
    padding: 2em;
  }
  .footer {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .sun {
    display: none;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: initial;
  }
  .mobile-nav {
    position: absolute;
    z-index: 10;
    max-width: 200px;
    width: 230px;
    border-radius: 10px;
    box-shadow: 0px 4px 11px rgba(79, 81, 85, 0.2);
    padding: 2em;
    background: white;
    margin: 0 auto;
  }
}
