:root {
  --blue: #c6e2f4;
  --purple: #4433ff;
  --yellow: #ffdc5d;
  --dark-gray: #4f5155;
  --light-gray: #eff1f5;
  --red: #e60066;
  --black: #21232c;
}
body {
  font-family: "Nunito", sans-serif;
}

hr {
  border: none;
  height: 5px;
  color: var(--light-gray);
  background-color: var(--light-gray);
}

li,
a {
  text-decoration: none;
  list-style: none;
  color: initial;
}

h1 {
  color: var(--black);
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 22px;
}
h4 {
  font-size: 20px;
  margin-top: 0.5em;
}
small {
  font-size: 14px;
  font-weight: bold;
}

.container {
  max-width: 1200px;
  margin: auto;
}
.flex {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.gap {
  gap: 2em;
}
.middle {
  margin-left: -50px;
}

.post-container {
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 2em;
}

.wave {
  position: absolute;
  z-index: -100;
  top: 0;
}

.text__purple {
  color: var(--purple);
}

.text__bold {
  font-weight: bold;
}

.text__semibold {
  font-weight: 600;
}

.text__small-heading {
  font-size: 15px;
  text-transform: uppercase;
}
.text__red {
  color: var(--red);
}

.logo {
  font-size: 28px;
  font-family: "Fredoka One", "Nunito", sans-serif;
  color: var(--purple);
}

.card {
  border-radius: 10px;
  box-shadow: 0px 4px 11px rgba(79, 81, 85, 0.2);
  padding: 2em;
  background: var(--light-gray);
  width: max-content;
  max-width: 500px;
}

.table__column {
  padding: 0.5em 1em;
}

.tag {
  background-color: var(--blue);
  border-radius: 10px;
  padding: 0.5em 1em;
  width: max-content;
}

.sitting {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-top: 60px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1em;
}

.path {
  stroke-dasharray: 500;
  animation: dash 1s linear;
}

@keyframes dash {
  from {
    stroke-dashoffset: 800;
  }
  to {
    stroke-dashoffset: 0;
  }
}
